:root {
	--main-color: #0033a0;
	--secondary-color: #ed1c24;
}

body {
	color: var(--main-color);
}

hr {
	background-color:var(--main-color);
}

.top {
	text-align:center;
	margin-top:15px;
	font-size:1.5em;
	font-weight:bold;
}

.divline{
	height:10px;
	background-color:var(--secondary-color);
}

.divline-top{
	margin-top:15px;
}

.divline-bottom{
	margin-bottom:25px;
}

.navbutton {
	background-color:var(--main-color);
	color:white !important;
	padding:1%;
	text-align:center;
}

.navbutton:hover {
	background-color:white;
	color:var(--main-color) !important;
}

.navbar {
	padding:0px;
}

.navbar a:link {
  text-decoration: none;
  color: var(--main-color);
}

.navbar a:visited {
  text-decoration: none;
  color: var(--main-color);
}

.navbar a:hover {
  text-decoration: none;
  color: var(--main-color);
}

.navbar a:active {
  text-decoration: none;
  color: var(--main-color);
}

.emphasized {
	color: var(--secondary-color);
	font-weight:bold;
}

.flyer img{
	height:200px;
}

.profile {
	text-align:center;
	margin-bottom:25px;
}

.profile img{
	border-radius:50%;
	height:250px;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.quote{
	font-weight:lighter;
	font-size:1.5em;
	padding:20px;
	opacity:0;
	animation-name: fade-in;
	animation-fill-mode: forwards;
	animation-duration: 3s;
}

#quote1{

	animation-delay: 1s;
}

#quote2{

	animation-delay: 3.5s;
}

#quote3{

	animation-delay: 6s;
}

#joinus {
	opacity:0;
	animation-name: fade-in;
	animation-fill-mode: forwards;
	animation-duration: 0s;
	animation-delay: 9s;
}

.quoter {
	text-align:right;
	font-size:.67em;
}